{% extends "base.html" %}
{% block content %}
    <form method="post" action="{{url_for('register')}}" novalidate>
    {{form.hidden_tag()}}
        <h1>REGISTER</h1>
        <p>Enter email and password</p>
        {{ render_field(form.email) }}<br>
        {{ render_field(form.password) }}<br>
        {{ render_field(form.repeat_pass) }}<br>
{#        {{ render_field(form.captcha) }}<br>#}

        {{ form.submit(class="btn btn-outline-light btn-lg px-5")}}<br>

    </form>

    <div>
        <p>Trying to login - <a href="{{url_for('login')}}">Login</a></p>
    </div>
{% endblock %}